.background-bg {
    background-image: url("../images/bg.webp");
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-size: cover;
}

.login-form {
    margin-top: 32.2%;
    margin-bottom: 50%;
}

@media screen and (max-width: 600px) {
    .login-form {
        margin-top: 81%;
        margin-bottom: 86%;
    }

    .mobile-view {
        margin-top: 30px;
    }
}

/* #ed6a5a */