.background-bg {
    background-image: url("../images/bg.webp");
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-size: cover;
}

.login-form {
    margin-top: 35%;
    margin-bottom: 45%;
}



/* Register */
.side-bg {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.register {
    margin-top: 15%;
    margin-bottom: 30%;
}

.register-btn{
    background-color: black;
}

@media screen and (max-width: 600px) {
    .login-form {
        margin-top: 81%;
        margin-bottom: 86%;
    }

    .mobile-view {
        margin-top: 30px;
    }

    .register {
        margin-top: 85%;
        margin-bottom: 80%;
    }

    .register-btn{
        background-color: black;
        width: 100%;
    }
}


/* #ed6a5a */