.restu-bg {
    background-image: url("../../../User/assets/images/bg.webp");
    background-size: cover;
    overflow-x: hidden;
}

.restu-register-form {
    margin-top: 15%;
    margin-bottom: 15%;
}

.restu-register-btn {
    width: 100%;
    background-color: black;
    color: white;
}

.restu-mobile-view {
    text-align: center !important;
}


/* Resturant Dashboard */

.restu-dashboard-style {
    margin-top: 21%;
    margin-bottom: 20.2%;

}

.card-bg {
    background-color: yellowgreen;
    color: white;
    box-shadow: 2px 2px 2px gainsboro;

}


/* Menu */

.menu-form {
    margin-top: 16%;
    margin-bottom: 16%;
}

.menu-submit {
    color: white;
    background-color: black;
    width: 100%;
}

.users-response {
    margin-top: 10%;
    margin-bottom: 20%;
}

@media screen and (max-width: 600px) {
    .restu-register-form {
        margin-top: 50%;
        margin-bottom: 50%;
    }

    .restu-mobile-view {
        text-align: left !important;
    }

    .restu-dashboard-style {
        margin-top: 45%;
        margin-bottom: 45%;

    }

    .users-response {
        margin-top: 70%;
        margin-bottom: 95%;
    }

    .menu-form {
        margin-top: 80%;
        margin-bottom: 90%;
    }
}


/* #ed6a5a */